body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: 200px;
    background-color: grey;
    display: flex;
    flex-shrink: 0;
}

.header {
    background-color: #1f2937;
    padding: 10px 150px 100px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 16px 0;
    gap: 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    flex-shrink: 0;
}

ul {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    gap: 10px;
}

.main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
}

.sign {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
.information {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 30px;
    margin-bottom: 32px;
}

.squares {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    margin-bottom: 100px;
}

.info {
    max-width: 200px;
}

.square {
    border: 5px solid #3882f6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    color: grey;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding: 100px 200px;
}

.author {
    display: flex;
    align-self: flex-end;
    font-weight: 800;
    font-size: 50%;
}